<div>
  <header class="header">
    <ul class="nav">
      <li class="logo"><h1><a href="#">PB & JAM</a></h1></li>
      <div class="right-nav">
        <li><a href="#" data-icon="&#xe603;"><img class="nav-pic" src="../uploads/<%= @user.id %>"></a></li> 
        <li class="logout"><a href="/logout" data-icon="&#xe603;">logout</a></li> 

<!-- <p><img class="pic" src="../uploads/<%= @user.id %>"></p> -->

      </div>
    </ul>
  </header>
</div>

<h1>Search:</h1>
<form method='get' action='/users' class="login_form">

  <div>
   <input type="text" name="instrument" placeholder="Instrument">
  </div>
  <div>
   <input type="text" name="style" placeholder="Style">
  </div>
  <div>
   <input class="btn btn-primary" type="submit" value="Search!">
  </div>
</form>

<h3>Post a message</h3>

<form method='post' action='/posts' class='posts'>
  <div>
   <input type="text" name="content" placeholder="Your message">
  </div>
    <div>
   <input class="btn btn-primary" type="submit" value="Post!">
  </div>
</form>

<h3>Message board</h3>
<% @posts.each do |post| %>
  <div class="post">
    <p><%= post.content %></p>
    <p> By: <a href="/users/<%= post.user_id %>"><%= post.username %></a> on <%= post.created_at %></p>
  </div>
<% end %>

 <form method='get' action='/logout'>
  <div>
    <input type="submit" value="Log out">
  </div>

 