<div class="main-background">
  <div>
    <header class="header">
      <ul class="nav">
        <li class="logo"><p><a href="/main"><span class="nav-title">PB &amp;</span><span class="jam"> JAM</span></a></p></li>
        <div class="right-nav">
          <li><a href="/profile" data-icon="&#xe603;"><img class="nav-pic" src="../uploads/<%= @user.id %>"></a></li>
          <li class="logout"><a href="/logout" data-icon="&#xe603;">logout</a></li>
        </div>
      </ul>
    </header>
  </div>

  <p class="main-title">Start Your Jam Session!</p>
  <form method='get' action='/users'>

  <div class="search-bars">
      <div class="instrument">
       <input type="text" name="instrument" class="feedback-input-search" placeholder="Instrument">
      </div>
      <div class="style">
       <input type="text" name="style" class="feedback-input-search" placeholder="Style">
      </div>
  </div>
    <div class="search-button">
     <input class="submit-search" type="submit" value="Search!" id="button-blue-search">
  <div class="ease"></div>
    </div>
  </form>

  <h3>Post a message</h3>

  <form method='post' action='/posts'>
    <div class="message-input">
     <input type="text" name="content" class="feedback-input-search" placeholder="Your message">
    </div>
      <div class="post-button">
     <input id="button-blue-post" type="submit" value="Post!">
    </div>
  </form>

  <h3>Message board</h3>
  <% @posts.each do |post| %>
    <div class="post">
      <p class="content"><%= post.content %></p>
      <p class="content"></p><p class="content-user"> By: <a href="/users/<%= post.user_id %>"><%= post.username %></a> on <%= post.created_at %></p>
    </div>
  <% end %>

<!--    <form method='get' action='/logout'>
    <div>
      <input type="submit" value="Log out">
    </div>
</div>
 -->
